
.raleway-font-design {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header{
    max-width: 1440px;
    margin: 116px 14px 0;
    padding:0 138px 200px;
    background-image:url(../images/Hero-bg.png);
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-h1{
    color:#4E47FF;
    font-size:34px;
    font-family:"Inter", sans-serif;
    font-weight:900px;
}
button{

    background-color:#4E47FF;
    color:white;
    font-size: 16px;
    padding: 12px 36px;
    border-radius:10px;
    border-style: none;
}
.banner-description{
    font-size: 65px;
    font-weight: bold;
}
.banner-div{
    margin-top: 158px;
    text-align:center;
}
