html{
    background-color: #f0f3faee;
}
.raleway-font-design {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header{
    margin: 116px 14px 0;
    padding:0 138px 200px;
    background-image:url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-h1{
    color:#4E47FF;
    font-size:34px;
    font-weight:900px;
}
.butn{

    background-color:#4E47FF;
    color:white;
    font-size: 16px;
    padding: 12px 36px;
    border-radius:10px;
    border-style: none;
}
.banner-description{
    font-size: 65px;
    font-weight: bold;
}
.banner-div{
    margin-top: 158px;
    text-align: center;
}

main{
   max-width:1140px ; 
   margin:0 Auto;  
}
.action{
    display:flex;
    gap: 220px;
    align-items: center; 
}
.div-design{
   padding:62.5px;
}
.a-section-title{
    font-weight: bold;
    font-size: 42px;
    text-align: left;
}
.section-description{
    font-weight: normal;
    font-size: 24px;
    color: #25243270;
    
}
.img-design{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

.P-users{
    text-align: center;
    background-color: #4d47ff12;
    padding: 50px 80px;
    
}
.P-section-title{
    color: #252432;
    font-size: 38px;
    font-weight: bold;
}

.title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;

}
.descip{
    color: #00000076;
    font-size: 20px;
    font-weight: 400px;
}
.div-about{
    display:flex;
    justify-content: space-around;
    align-items:center;     
}
.card{
  display: flex;
  gap: 20px;
 
}

.card-design{
    background-color:  white;
    padding: 25px;
    border-radius: 14px;
}
.c-section-title{
    margin-top:137px ;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
}
.review{
    display: flex;
    gap:15px;
    align-items: center;
    
}
.rev-img-design{
    border-radius: 999px;
    height: 40px;
    width: 40px;
}
.review-h{
    color:rgba(128, 128, 128, 0.824);
    font-size:medium;
    font-weight: bold;
}
.review-p{
    color:rgba(128, 128, 128, 0.824);
    font-size:medium;
    font-weight: normal;
}
/* Form Section Design */
.form-sec-title{
    font-size: 97px;
    font-weight: Bold;
    color:#000000;
    
}
.form-design{
    display:flex;
    gap: 115px;
    margin-top: 150px;
    margin-bottom: 71px;
}
.form-column{
    width: 50%;
}
input[type="text"],input[type="email"],textarea{
padding: 12px 12px;
width: 100%;
border:none;
border-radius: 10px;
box-sizing: border-box;
background-color:white;
color: #00000070;
font-size: 20px;
font-weight: 400px;
display:block;
margin-bottom:35px;
}
input[type="text"],input[type="email"]{
height: 70px;
}
textarea{
    resize: none;
    height: 120px;
}
input[type="submit"]
{
    width: 100%;
    height: 62px;
}
.label-design{
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}